---
import { type CollectionEntry, getCollection, render} from "astro:content";
import PostPreview from "@/components/blog/PostPreview.astro";
import Note from "@/components/note/Note.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import ArrowCard from "@/components/ArrowCard.astro";
import { dateRange, collectionDateSort } from "@/utils/date";

// Posts
const MAX_POSTS = 5;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
	.sort(collectionDateSort)
	.slice(0, MAX_POSTS) as CollectionEntry<"post">[];

// Notes
const MAX_NOTES = 5;
const allNotes = await getCollection("note");
const latestNotes = allNotes.sort(collectionDateSort).slice(0, MAX_NOTES);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3);

const allwork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0, 2);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await render(item);
    return { ...item, Content };
  })
);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<p class="mb-4 prose dark:prose-invert">
      I'm <strong>Huda</strong>, a highly skilled front-end developer with two years of experience, specializing in web development. A proven track record of developing exceptional UI and translating wireframes into high-quality, responsive code.
		</p>
	</section>
	<section class="mt-16">
    <div class="flex flex-wrap gap-y-2 items-center justify-between mb-4">
      <h2 class="title text-xl">Posts</h2>
      <a href="/posts" class="text-foreground/80 hover:text-foreground">
        See all posts
      </a>
    </div>
		<ul class="divide-y" role="list">
			{
				allPostsByDate.map((p) => (
          <li>
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>

    <section class="mt-16 space-y-6">
      <div class="flex flex-wrap gap-y-2 items-center justify-between">
        <h2 class="title text-xl">Work Experience</h2>
        <a href="/work" class="text-foreground/80 hover:text-foreground">
          See all work
        </a>
      </div>
      <ul class="flex flex-col gap-y-5">
        {work.map(entry => (
          <li class="prose text-foreground dark:prose-invert">
            <div class="text-sm opacity-75">
              {dateRange(entry.data.dateStart, entry.data.dateEnd)}
            </div>
            <div class="font-semibold">
              {entry.data.company}
            </div>
            <div class="text-sm opacity-75 font-medium">
              {entry.data.role}
            </div>
            <article class="prose dark:prose-invert mt-4">
              <entry.Content />
            </article>
          </li>
        ))}
      </ul>
    </section>

    <section class="mt-16 space-y-6">
      <div class="flex flex-wrap gap-y-2 items-center justify-between">
        <h2 class="title text-xl">Recent projects</h2>
        <a href="/projects" class="text-foreground/80 hover:text-foreground">
          See all projects
        </a>
      </div>
      <ul class="flex flex-col gap-4">
        {projects.map(project => (
          <li>
            <ArrowCard entry={project} />
          </li>
        ))}
      </ul>
    </section>

    <section class="mt-16 space-y-4">
      <h2 class="title text-xl">Let's Connect</h2>
      <article class="prose dark:prose-invert">
        <p>
          If you want to get in touch with me about something or just to say hi,
          reach out on social media or send me an email.
        </p>
      </article>
    </section>
	<!--{
		latestNotes.length > 0 && (
			<section class="mt-16">
				<h2 class="title mb-6 text-xl">
					<a href="/notes/">Notes</a>
				</h2>
				<ul class="space-y-4" role="list">
					{latestNotes.map((note) => (
						<li>
							<Note note={note} as="h3" isPreview />
						</li>
					))}
				</ul>
			</section>
		)
	}-->
</PageLayout>
