---
import GitHub from '../icons/GitHub.astro';
import { PREFIX_NAME, SITE_TITLE } from '../consts';
import X from '../icons/X.astro';
import LinkedIn from '../icons/LinkedIn.astro';
import Email from '../icons/Email.astro';
import RSS from '../icons/RSS.astro';
const today = new Date();
---

<footer
  class="mt-auto pt-6 flex content justify-center items-center gap-4"
>
  <div class="flex flex-col items-center gap-3 text-base">
    &copy; {today.getFullYear()} {SITE_TITLE}. All rights reserved.
    <div class="flex items-center gap-5">
      <a
        href=`https://github.com/${PREFIX_NAME}`
        class="fill-foreground/70 hover:fill-foreground transition duration-300"
        aria-label="GitHub"
      >
        <GitHub />
      </a>
      <a
        href=`https://x.com/${PREFIX_NAME}`
        class="fill-foreground/70 hover:fill-foreground transition duration-300"
        aria-label="X"
      >
        <X />
      </a>
      <a
        href=`https://www.linkedin.com/in/${PREFIX_NAME}`
        class="fill-foreground/70 hover:fill-foreground transition duration-300"
        aria-label="LinkedIn"
      >
        <LinkedIn />
      </a>
      <a
        href="mailto:muhamadhuda519@gmail.com"
        class="fill-foreground/70 hover:fill-foreground transition duration-300"
        aria-label="Email"
      >
        <Email />
      </a>
      <a
        href="/rss.xml"
        class="fill-foreground/70 hover:fill-foreground transition duration-300"
        aria-label="RSS"
      >
        <RSS />
      </a>
    </div>
  </div>
</footer>
