---
import { Image } from "astro:assets";
import FormattedDate from "@/components/FormattedDate.astro";
import BackToTop from "@/components/BackToTop.astro";
import PageLayout from "@/layouts/Base.astro";
import TOC from "@/components/blog/TOC.astro";
import { type CollectionEntry, getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const projects = (await getCollection("projects"))
    .filter(post => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return projects.map((project) => ({
    params: { slug: project.id },
    props: project,
  }));
}
type Props = CollectionEntry<"projects">;

const project = Astro.props;
const { headings, remarkPluginFrontmatter } = await render(project);
const readingTime: string = remarkPluginFrontmatter.readingTime;
const { Content } = await render(project);

const meta = {
	description:
		project.data.description,
	title: project.data.title,
};

const dateTimeOptions: Intl.DateTimeFormatOptions = {
	month: "long",
};
---

<PageLayout meta={meta}>

  <article class="grow break-words" data-pagefind-body>
    <div id="blog-hero" class="mb-6">
      <div class="flex flex-wrap items-center gap-x-3 gap-y-2 prose dark:prose-invert prose-sm mb-1">
        <p class="font-medium">
          <FormattedDate date={project.data.date} dateTimeOptions={dateTimeOptions} /> &bull; {" "}
          {readingTime}
        </p>
        {
        project.data.updatedDate && (
            <span class="bg-muted text-sm rounded-lg px-2 py-1">
              Updated:
              <FormattedDate class="ms-1" date={project.data.updatedDate} dateTimeOptions={dateTimeOptions} />
            </span>
          )
        }
      </div>
      <h1 class="title">
        {project.data.title}
      </h1>
      <p class="prose dark:prose-invert">
        {project.data.description}
      </p>

      {(project.data.demoURL || project.data.repoURL) && (
        <nav class="flex items-center gap-2 mt-2 text-sm">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-4 h-4"
          >
            <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" />
            <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" />
          </svg>
          {project.data.demoURL && (
            <a target="_blank" href={project.data.demoURL} class="underline decoration-dotted underline-offset-[6px] decoration-[2px] hover:opacity-80">
              demo
            </a>
          )}
          {project.data.demoURL && project.data.repoURL && (
            <span>/</span>
          )}
          {project.data.repoURL && (
          <a
            target="_blank"
            href={project.data.repoURL}
            class="underline decoration-dotted underline-offset-[6px] decoration-[2px] hover:opacity-80"
            >
              repo
            </a>
          )}
        </nav>
      )}
    </div>
    <div class="flex flex-col gap-10">
      {!!headings.length && <TOC headings={headings} />}
      <div
        class="prose max-w-none prose-p:my-1 prose-headings:font-semibold prose-headings:before:absolute prose-headings:before:-ms-5 prose-headings:hover:before:text-muted-foreground sm:prose-th:before:content-none prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md"
      >
        <Content />
      </div>
    </div>
  </article>
  <br />
  <BackToTop />
  <br />
  <hr />
</PageLayout>

<script>
	const scrollBtn = document.getElementById("to-top-btn") as HTMLButtonElement;
	scrollBtn.addEventListener("click", () => {
		document.documentElement.scrollTo({ behavior: "smooth", top: 0 });
	});
</script>
