---
import { type CollectionEntry, render } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
};

const { as: Tag = "div", post, withDesc = false } = Astro.props;
const formattedDate = post.data.publishDate.toLocaleString('en-US', { month: 'short', day: 'numeric' });

const { remarkPluginFrontmatter } = await render(post);
const readingTime: string = remarkPluginFrontmatter.readingTime;
---

<a data-astro-prefetch href={`/posts/${post.id}/`} class="relative group flex justify-between py-3 text-foreground/90 hover:text-foreground duration-300 ">
  <div class="grow">
    <div class="pt-1 text-xs uppercase font-semibold text-muted-foreground">
      {formattedDate}
    </div>
    <span class="line-clamp-1 font-semibold underline underline-offset-4 decoration-[1.5px] decoration-dotted duration-300">
      {post.data.title}
    </span>
    <span class="line-clamp-1 text-sm text-foreground/70">
      {post.data.description}
    </span>
    <span class="font-medium capitalize text-xs sm:hidden text-muted-foreground">
      {readingTime}
    </span>
  </div>
  <div class="flex items-center gap-3 flex-none">
    {post.data.draft && <span class="ml-2 inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-muted text-foreground">Draft </span>}
    <div class="text-xs font-medium text-muted-foreground group-hover:text-foreground transition-colors duration-300 ease-in-out sm:inline-flex hidden">
      {readingTime}
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="size-5 stroke-2 fill-none stroke-current group-hover:stroke-foreground">
      <line x1="5" y1="12" x2="19" y2="12" class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out" />
      <polyline points="12 5 19 12 12 19" class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out" />
    </svg>
  </div>
</a>
